<div class="result">
  <div class="result_inner">
    <h4>
      <div id="dym_movie"
           update="dym_movie"
           url="<%= url_for(:action => :dym_movie,
                :query => @query,
                :movie_list => @movie_list,
                :exact_movie_list => @exact_movie_list) %>">
        &nbsp;</div>
      <div id="dym_person"
           update="dym_person"
           url="<%= url_for(:action => :dym_person,
                :query => @query,
                :person_list => @person_list,
                :exact_person_list => @exact_person_list) %>">
        &nbsp;</div>
    </h4>

    <% if !@top_score_movies.empty? -%>
    <% if @top_score_movies.size == 1 -%>
    <h2>Popular title</h2>
    <% else -%>
    <h2>Popular titles</h2>
    <% end -%>
    <ul>
      <% for result in @top_score_movies -%>
      <li><%= display_title(result, "<br/>&nbsp;-&nbsp;") %></li>
      <% end -%>
    </ul>
    <% end -%>

    <% if !@results[:exact_movie].empty? -%>
    <h2>Exact titles (<%= @results[:exact_movie_count] %>)</h2>
    <ul>
      <% for result in @results[:exact_movie] -%>
      <li><%= display_title(result, "<br/>&nbsp;-&nbsp;") %></li>
      <% end -%>
    </ul>
    <% end -%>

    <% if !@results[:exact_person].empty? -%>
    <h2>Exact names (<%= @results[:exact_person_count] %>)</h2>
    <ul>
      <% for result in @results[:exact_person] -%>
      <li><%= link_to_person(result) %></li>
      <% end -%>
    </ul>
    <% end -%>

    <% if !@results[:movies].empty? -%>
    <h2>Titles (<%= @results[:movies_count] %>)</h2>
    <ul>
      <% for result in @results[:movies] -%>
      <li><%= display_title(result, "<br/>&nbsp;-&nbsp;") %></li>
      <% end -%>
    </ul>
    <% end -%>

    <% if !@results[:people].empty? -%>
    <h2>Names (<%= @results[:people_count] %>)</h2>
    <ul>
      <% for result in @results[:people] -%>
      <li><%= link_to_person(result) %></li>
      <% end -%>
    </ul>
    <% end -%>
  </div>
</div>
