<% content_for :title do -%>
[N] <%= @person.name %>
<% end -%>
<% content_for :page_head do -%>
<%= @person.name(true) %>
<% end -%>
<% content_for :stylesheet do -%>
<%= stylesheet_link_tag "person" %>
<%= stylesheet_link_tag "common" %>
<% end -%>
<% content_for :image do -%>
<% if WikipediaFetcher.image(@person) -%>
<div id="person_image"><%= image_tag WikipediaFetcher.image(@person), :onerror => "image_loading_error(\"#{escape_javascript(link_to_resetexternal(@person.id, "person", true))}\");" %></div>
<% else -%>
<div id="person_image"
     class="ajax_wikipedia_image"
     url="<%= url_for(:action => :image, :id => @person.id) %>"
     update="person_image"></div>
<% end -%>
<% end -%>
