<%= render :partial => 'head', :locals => { :title => "Register" } %>
<%= form_for :user, :url => { :action => :create } do |f| %>
<%= hidden_field_tag "bounceback", params[:bounceback] %>
<h3>Registration form</h3>
<label for="user_name">Display name</label><br/>
<%= f.text_field :name %><br/>
<label for="user_name">Username</label><br/>
<%= f.text_field :username %><br/>
<label for="user_name">Password</label><br/>
<%= f.password_field :password, :value => "" %><br/>
<label for="user_name">Confirm password</label><br/>
<%= f.password_field :verify_password, :value => "" %><br/>
<br/>
<%= submit_tag "Register user" %>
<% end -%>

